$action_color: orange;
$background: #FFFFFF;
$bot_message_background: rgb(255, 255, 255);
$bot_message_text: #b4b4b4;
$human_message_background: $botkit_purple;
$human_message_text: white;
$chat_background_image_url: '../images/bot.gif';
$powered_by_background: linear-gradient(to right, #3a6073, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$chat_background_section: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);

#message_window {
    background: $background;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    scroll-behavior: smooth;
    /*height: 500px;
    width: 320px;*/
    height: 100%;
    width: 100%;
    /*margin: 2rem auto;*/
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    
    .disconnected {
      background-color: #ff9800;
      color: white;
      opacity: 0.83;
      transition: opacity 0.6s;
      margin-bottom: 0px;
      padding: 0.25rem;
    }
    &.connected .disconnected {
        display: none;
    }
    .offline {
        display: none;
    }
    &.offline {

      .disconnected {
        display: none;
      }
      .offline {
        background-color: #f44336;
        color: white;
        opacity: 0.83;
        transition: opacity 0.6s;
        padding: 0.25rem;
        display: block;
      }
    }

    .powered_by {
      flex-shrink: 0;
      text-align: left;
      border-bottom: 0px solid #333;
      padding: 0.25rem;
      background: $powered_by_background;
      color: #FFF;

      a {
        text-decoration: none;
        color: #666;
      }

      img {
        position: relative;
        top: 2px;
      }
    }

   section {
      flex-grow:  1;
      flex-direction: column-reverse;
      display: flex;
      overflow-y: auto;
      // background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url($chat_background_image_url);
      background-image: $chat_background_section;
     div div {
        margin: 0.25rem;
        clear: both;
    }
  }

  footer {
      border-top: 1px solid #CCC;
      padding: 0.25rem;
      input[type="text"] {
          flex-grow: 1;
          font-size: 1rem;
          outline: none;
          font-size: 1em;
          height: 3rem !important;
          border: none;
      }
      input::placeholder{
        font-style: italic;
      }
      button {
        border: 0;
        cursor: pointer;
     }
  }

  form {
      display: flex;
      margin: 0;
      padding: 0.25rem;
  }

  #message_template {
      display: none;
  }

  .message {
      padding: 0.5rem;
      background: $bot_message_background;
      color: $bot_message_text;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
      width: auto;
      display: inline-block;
      max-width: 75%;
      padding: 15px 20px;
      text-align: left;
      transition: all 0.5s;
      white-space: normal;

  }

  .file_attachment {

    background: $bot_message_background;
    color: $bot_message_text;
    border-radius: 5px;
    display: inline-block;
    max-width: 75%;

    img {
      max-width: 100%;
      display: block;
    }

  }

    .button_message {
      margin: 1rem 0;
      border-radius: 4px;
      border-color: $action_color;
      border-style: solid;
      color: $action_color;
      border-width: 1px;
      padding: 0.25rem 1rem;
      text-decoration: none;
      text-align: center;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
      display: block;
    }


  .message p {
      margin-top: 0;
      margin-bottom: 0.5rem;
  }

  .message p:last-child {
      margin-bottom: 0;
  }

  .message.outgoing {
      float: right;

      background: $human_message_background;
      color: $human_message_text;

  }

  #message_replies {
      text-align: center;
      overflow-x: auto;
      flex-shrink: 0;
      -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

      ul {
          list-style-type: none;
          margin: 0px auto;
          padding: 0;
          background-image: $chat_background_section;
          li {
              display: inline-block;
              margin: 0.5rem;
              margin-left: 0;
          }
      }

      a {
         text-decoration: none;
         display: block;
         border: 1px solid $botkit_purple;
         color: $botkit_purple;
         border-radius: 16px;
         padding: 0.25rem 1rem;
         cursor: pointer;

         &:hover {
           background: $botkit_purple;
           color: #FFF;
         }
     }
   }
}



/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  position: relative;
  span {
    height: 5px;
    width: 5px;
    float: left;
    margin: 0 1px;
    background-color: $bot_message_text;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
