$botkit_purple: #2CDC1A;
$action_color: orange;
$background: #FFFFFF;
$bot_message_background: rgb(255, 255, 255);
$bot_message_text: #678;
$human_message_background: $botkit_purple;
$human_message_text: white;
$chat_background_image_url: '../images/bot.gif';
$powered_by_background: linear-gradient(to right, #3a6073, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$chat_background_section: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
$step_message_background:  #d5e1df;
$step_message_text:  rgb(61, 59, 59);
$materialize_custom_color: #ffffff;

