@import '_variables';

$height: 600px;
$powered_by_background: $botkit_purple; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$header_border_radius: 22px 22px 0px 0px;
#embedded_messenger {

  position: fixed;
  z-index: 1000;

  bottom: -$height;
  right: 2rem;
  width: 164;

  height: $height + 55;
  -webkit-box-shadow: 10px -8px 8px 0px rgba(128,133,128,0.53);
  -moz-box-shadow: 10px -8px 8px 0px rgba(128,133,128,0.53);
  box-shadow: 10px -8px 8px 0px rgba(128,133,128,0.53);
  transition: 1.0s ease-in-out;
  border-radius: 12px 12px 0px 0px;


  &.active {
    border-radius: $header_border_radius;
    bottom: 0;
    width: 650;
    #message_header {
      padding: 1.5rem 2rem;
      border-radius: $header_border_radius;
    }
  }

  iframe {
    height: $height;
    width: 100%;
    border: 0;
  }

  #message_header {
    border-radius: 12px 12px 0px 0px;
    transition: 1.0s ease-in-out;
    background: #000;
    padding: 1.0rem 2rem;
    font-style: italic;
    font-size: 1.2em;
    background: $powered_by_background;
    color: #FFF;
  }

}

#circle {
  background: rgb(195, 48, 4);
  border-radius: 50%;
  box-shadow: rgba(245, 0, 0, 0.12) 0px 1px 6px, rgba(216, 0, 0, 0.12) 0px 1px 4px;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 10px;
  float: left;
}

.active .circle{
  width: 15px;
  height: 15px;
  padding: .1em;
  border-radius: 50%;
  background-color: rgb(50, 187, 32);
  -webkit-box-shadow:0 0 10px rgba(124, 194, 107, 0.5);
  -moz-box-shadow:0 0 10px rgba(150, 192, 96, 0.5);
  box-shadow:0 0 10px rgba(155, 197, 138, 0.5);
  float: left;
}

.circle{
  width: 15px;
  height: 15px;
  padding: .1em;
  border-radius: 50%;
  background-color: #DC143C;
  -webkit-box-shadow:0 0 10px rgba(216, 185, 185, 0.5);
  -moz-box-shadow:0 0 10px rgba(224, 194, 194, 0.5);
  box-shadow:0 0 10px rgba(195, 167, 167, 0.5);
  float: left;
}

.header_text{
  padding: 0em 1.1em;
}
