@import '_variables';

$height: 500px;
$powered_by_background: $botkit_purple; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$header_border_radius: 2px 2px 0px 0px;
#embedded_messenger {

  position: fixed;
  z-index: 1000;

  bottom: -$height;
  right: 2rem;
  width: 200;

  height: $height + 55;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
  transition: 1.0s ease-in-out;
  border-radius: 2px 2px 0px 0px;


  &.active {
    border-radius: $header_border_radius;
    bottom: 36;
    width: 450;
    #message_header {
      padding: 1.5rem 2rem;
      border-radius: $header_border_radius;
    }

    .circle{
      float: right;
      opacity: 1;
    }

    .avatar_icon{
      float: left;
      width:50px;
    }
    .header_text{
      font-size: 1.2em;
      padding: 0em 3.5em;
    }
  }

  iframe {
    height: $height;
    width: 100%;
    border: 0;
  }

  #message_header {
    border-radius: 2px 2px 0px 0px;
    transition: 1.0s ease-in-out;
    background: #000;
    padding: 1.1rem 2rem;
    font-style: italic;
    font-size: 1.2em;
    background: $powered_by_background;
    color: #FFF;
    #avatar-bot{
        max-width: 100%;
        height: auto;
    }
  }

}

.circle{
  transition: 1.2s ease-in-out;
  width: 15px;
  height: 15px;
  padding: .1em;
  border-radius: 50%;
  background-color: #57985a;
  -webkit-box-shadow:0 0 10px rgba(124, 194, 107, 0.5);
  -moz-box-shadow:0 0 10px rgba(150, 192, 96, 0.5);
  box-shadow:0 0 10px rgba(155, 197, 138, 0.5);
  float: left;
}

.active_text{
  display: none;
}

.avatar_icon{
  transition: 1.2s ease-in-out;
  width:0px;
}

.header_text{
  font-size: 1em;
  transition: 1.2s ease-in-out;
  padding-left: 1.7em;
}
